        * {
            margin: 0;
            padding: 0;
            touch-action: manipulation;
            user-select: none;
            -webkit-user-select:none;

        }

        body {
            background-color: rgb(105, 109, 144);
            height: 100vh;
            width: 100vw;
            position: fixed;
        }

        .wrap {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100vh;
            width: 100vw;
        }

        .group {
            display: flex;
        }

        .blackkey {
            position: absolute;
            transform: translateX(2.5vw);
            flex-direction: column;
            align-items: center;
            justify-content: end;
            padding-bottom: 25px;
            width: 3vw;
            height: 30vh;
            background: black;
            border-radius: 0 0 6px 6px;
        }

        .whitekey {
            flex-direction: column;
            align-items: center;
            justify-content: end;
            padding-bottom: 25px;
            width: 4vw;
            height: 50vh;
            background: #ffffff;
            border: 1px solid rgb(36, 36, 36);
            border-radius: 0 0 6px 6px;
            box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
        }

        .whitekey:active{
            background: #ccc;
        }

        .blackkey:active{
            background: #333;
        }
